/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
      font-family: Inter;
  }
}